.list {
    height:520px;
    overflow: scroll;
    background: white;
}

.list-error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
    padding: 8px 12px;
    border-bottom: 1px solid #D9D9D9;
    &:hover {
        background: rgba($color-contrast, 0.1);
    }
    .title {
        color: $text-dark;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 6px;
    }
    p {
        font-size: 14px;
        color: $text-primary;
        margin-bottom: 6px;
        line-height: 16px;
    }
    .mask-container {
        display: flex;
        justify-content: space-between;
    }
    .mask {
        width: 48%;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 8px;
        border-radius: 25px;
        color: $text-light;
        font-size: 12px;
        span {
            font-weight: bold;
            font-size: 16px;
        }
    }
}